template(name="layout")

  .container
  
    h1.center PocketDoc
  
    +yield
    
    .col-sm-offset-3.col-sm-6
      button(class="btn btn-default btn-block") View statistics
  
template(name="home")

  p Enter personal relevant information
  
  .row
    .col-sm-offset-2.col-sm-3.col-xs-12
      +environment
          
    .col-sm-offset-2.col-sm-3.col-xs-12
      +individual
